body{
    margin: 0;
    font-family: "Montserrat", sans-serif;
}
.freehand-regular {
    font-family: "Freehand", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
.social a{
    display: inline-flex;
    text-decoration: none;
    color:beige;
    margin-left: 1.5rem;
    font-size: 1.5rem;
}

.banner{
    font-family: "Noto Serif Display", serif;
    height: 150px;
    background-color:darkolivegreen;
    display: flex;
    color: beige;
    font-weight: 600;
    justify-content: center;
}

.logo{
    position: relative;
    display: flex;
    width: 242px;
    
}

.logoBG{
    display: flex;
    padding-left: 28px ;
    font-size: 7.5em;
}

.logoFT{
    position: absolute;
    background-color: darkolivegreen;
    font-size: 1.5em;
    margin-top: 75px;
}

.subtitulo{
    background-color: darkolivegreen;
    height: 4em;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: beige;    
}

.subtitulo h5{
    font-size: large;
    font-weight: 600;
}

.about{
    margin-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

h3{
    margin-top: 40px;
    text-align: center;
}

.xp{
    background-color: rgba(133, 165, 78, 0.308);
    padding-left: 10%;
    padding-right: 10%;
}

.ed{
    background-color: rgba(112, 158, 33, 0.575);
    padding-left: 10%;
    padding-right: 10%;
}
